.section {
  background-color: #050505;
  scroll-margin-top: 50px;
  padding: 0;
  min-height: 50vh !important;
}

[data-theme='light'] .section {
  background-color: #e0e0e0;
}

.aboutTextWrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.coloured {
  color: var(--primary-color);
}

.contentWithImage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.aboutText {
  font-size: 1rem;
  line-height: 1.8;
  transition: height .5s ease-in-out;
  flex: 1;
  overflow-wrap: break-word;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-color);
  line-height: 1.3;
}

.greeting {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.skillsLink {
  color: var(--primary-color) !important;
  display: inline !important;
}

.continue {
  width: 100%;
  cursor: pointer;
  text-align: right;
  color: var(--primary-color) !important;
  font-size: .8rem;
  display: inline-block;
  text-decoration: none;
}

@keyframes slideInUp {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.imgContainer {
  width: 200px;
  height: 260px;
  background: #424242;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: blob 10s linear infinite;
  animation-delay: -2s;
  animation-fill-mode: both;
  flex-shrink: 0;
  align-self: center;
  margin: 20px 0;
  shape-outside: ellipse(45% 55% at 50% 50%);
  shape-margin: 15px;
}

@keyframes blob {

  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 640px) {
  .aboutTextWrapper {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .imgContainer {
    width: 300px;
    height: 360px;
    margin-left: 50px;
    margin-bottom: 30px;
    shape-outside: ellipse(45% 55% at 50% 50%);
    shape-margin: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .imgContainer {
    margin-left: 60px;
    margin-bottom: 35px;
    shape-outside: ellipse(45% 55% at 50% 50%);
    shape-margin: 35px;
  }
}