.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #050505 !important;
    padding: 20px 30px;
    border-top: 1px solid #EE7C5340;
}

[data-theme='light'] .footer {
    background-color: #e0e0e0 !important;
}

.footerText {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: .8rem;
}

.footerText span {
    margin-top: 9px;
    font-size: 1.5rem;
    line-height: 1px;
}