.section {
  width: 100%;
  background: linear-gradient(to bottom, #00000000, #00000090 70%) !important;
  scroll-margin-top: 100px;
}

[data-theme='light'] .section {
  background: linear-gradient(to bottom, #f5f5f500, #f5f5f5 70%) !important;
}

.projectsContainer {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.1rem;
}

.projectsWrapper {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px var(--tertiary-color);
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.bgImageHover {
  transform: scale(1.2);
}


.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 2;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 20px 10px;

}

.overlayExpand {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.overlayHover {
  background-color: transparent;
}

.projectLogo {
  width: 30px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.projectLogoImage { 
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.metalldelLogo {
  width: 50px;
}

.title, 
.titleExpand {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  font-family: 'Orbitron', sans-serif;
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}

.title, .titleExpand {
  opacity: 0;
  transition-delay: 0.3s;
  pointer-events: none;
}


.name,
.nameExpand {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  font-family: 'Orbitron', sans-serif;
  cursor: default;
}

.nameExpand {
  text-align: left;
}

.projectInfo {
  display: flex;
}

.projectInfo, .projectInfoExpand {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 0.3s ease-out 0.3s forwards;
  padding: 20px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.desc {
  margin: 15px 0 30px;
  font-size: .9rem;
  font-weight: 900;
  color: var(--white)
}

.buttonContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.link, .btn {
  width: fit-content;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 9px;
  text-align: center;
  color: var(--white);
  text-wrap: nowrap;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.btn {
  padding: 5px;
  min-width: 30px;
}

.btn svg {
  font-size: 1rem;
}

.link:hover, .btn:hover {
  opacity: 0.8;
}


@media screen and (min-width: 800px) {
  .projectsContainer {
    flex-direction: row;
    gap: 20px;
  }

  .projectsWrapper {
    flex: 1;
    height: 350px;
    margin-bottom: 0;
    transition: flex-grow 0.5s ease-in-out;
  }

  .projectsWrapperExpand {
    flex-grow: 4;
  }

  .overlay {
    position: relative;
  }

  .title, .titleExpand {
    display: flex;
    opacity: 1;
    top: auto;
    left: 0;
    transform: translate(0, 0);
    bottom: 100px;
    width: 100%;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: left;
    transform: rotate(-90deg);
  }

  .title {
    transition-delay: 0.3s;
  }

  .titleExpand {
    opacity: 0;
    transition-delay: 0s;
  }

  .projectInfo {
    display: none;
  }

  .projectInfo, .projectInfoExpand {
    padding: 0;
  }

 
}

@media screen and (min-width: 940px) {
  .section {
    min-height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  .projectsWrapper,
  .projectsWrapperExpand {
    width: 170px;
    height: 420px;
  }

  .projectsWrapperExpand {
    width: 400px;
    flex-grow: 3;
  }

  .title {
    bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .name {
    font-size: 1.6rem;
  }

  .title {
    bottom: 160px;
  }
}

@media screen and (min-width: 1670px) {
  .name {
    font-size: 1.6rem;
  }

  .title {
    bottom: 200px;
  }
}
