.section {
  width: 100%;
  background: linear-gradient(to bottom, #00000000, #00000090 70%) !important;
  scroll-margin-top: 30px;
}

[data-theme='light'] .section {
  background: linear-gradient(to bottom, #f5f5f500, #f5f5f5 70%) !important;
}

.projectsContainer {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.projectsWrapper {
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px var(--tertiary-color);
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.projectsWrapper:last-child {
  margin: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #00000099;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name,
.nameExpand {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  font-family: 'Orbitron', sans-serif;
  cursor: default;
}

.nameExpand {
  text-align: left;
}

.projectInfo {
  display: none;
}

.projectsWrapperExpand {
  height: 400px;
  background-position: left;
}

.overlayExpand {
  justify-content: flex-end;
  background-color: transparent;
}

.projectInfoExpand {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #00000099;
}

.desc {
  margin: 15px 0 30px;
  font-size: .9rem;
  font-weight: 900;
  color: var(--white)
}

.link, .btn {
  width: 80px;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 9px;
  text-align: center;
  color: var(--white)
}

.btn{
  width: 200px;
}

@media screen and (min-width: 800px) {
  .projectsContainer {
    flex-direction: row;
    gap: 20px;
  }

  .projectsWrapper {
    flex: 1;
    height: 350px;
    margin-bottom: 0;
    transition: flex-grow 0.5s ease-in-out;
  }

  .projectsWrapperExpand {
    flex-grow: 4;
  }

  .overlay {
    position: relative;
  }

  .name {
    position: absolute;
    bottom: 60px;
    right: -20px;
    width: 100%;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: left;
    transform: rotate(-90deg);
  }

  .nameExpand {
    align-self: flex-start;
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 940px) {
  .section {
    min-height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  .projectsWrapper,
  .projectsWrapperExpand {
    width: 170px;
    height: 420px;
  }

  .projectsWrapperExpand {
    width: 400px;
    flex-grow: 3;
  }

  .name {
    right: -35px;
    bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    right: -35px;
    bottom: 80px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .name {
    right: -50px;
    bottom: 100px;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1670px) {
  .name {
    right: -50px;
    bottom: 120px;
    font-size: 1.6rem;
  }
}
