@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;800;900&family=Space+Mono&display=swap');

:root {
  --primary-color: #EE7C53;
  --secondary-color: #A3492F;
  --tertiary-color: #533F4D;
  --black: #0F0F0F;
  --white: rgb(227, 221, 221);
  --gray: #5C5C5C;
  --projectBtn: #A3492F99;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  overflow: hidden;
}
body {
  max-width: 100vw;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1{
  color: var(--white);
}
h2{
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
a {
  color: var(--white);
  text-decoration: none;
}
li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color:rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(139, 131, 131);
  border-radius: 20px;
}

@media screen and (min-width: 640px) {
  h2{
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  h2{
    font-size: 3rem;
  }
}

